
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h4 {
    font-size: 100px;
    color: #222;
 }
  

body {
    color: #130909;
    background-color: #fefefe;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#contact {
    width: 100%;
    overflow: hidden;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.title {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 3rem;
}

.contact-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont-left {
    width: 100%;
    padding: 3rem;
}

.cont-top {
    padding-bottom: 2rem;
    border-bottom: 1px solid #0a0606;
}

.cont-element {
    margin: 0.5rem 0;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

.cont-element i {
    color: #83c9f7;
    padding: 0.7rem;
    border-radius: 50%;
    border: 2px solid #83c9f7;
    font-size: 1.5rem;
    margin-right: 1rem;
    transition: all 0.4s ease;
}

.cont-element:hover i {
    background-color: #080606;
    color: #ffffff;
}
#lg-bag{
    display: none;
  }
.cont-element a {
    color: #080505;
    text-decoration: none;
}

.cont-bottom {
    padding-top: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cont-bottom a {
    color: #fffdfd;
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    font-size: 1.5rem;
    background-color: #83c9f7;
    border-radius: 50%;
}

.cont-bottom a:hover {
    color: #000000;
    background-color: #83c9f7;
}

.cont-right {
    width: 100%; 
    padding: 3rem;
}

.cont-right form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cont-right form input,
.cont-right form textarea,
.cont-right form button {
    width: 100%;
    margin: 1rem 0;
    background-color: transparent;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    outline: none;
    border: 1px solid #000000;
    color: #000000;
    transition: all 0.4s ease;
}

.cont-right form button {
    background-color: #ffffff;
    color: #011627;
    cursor: pointer;
}

.cont-right form button:hover {
    background-color: #011627;
    color: #eae6e6;
}

.cont-right form input:hover,
.cont-right form textarea:hover {
    color: #011627;
    background-color: #ffffff;
}

.cont-right form input:focus,
.cont-right form textarea:focus {
    color: #011627;
    background-color: #ffffff;
}

.section-p1 {
    padding: 40px 80px;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #83c9f7;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: #3d7aa3;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #3d7aa3;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
#mobile{
    display: none;
    align-items: center;
  }
  #bar{
    display: none;
  }
#closebtn{
    display: none;
}
footer{
    display: block;
}
  
footer .col1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
  footer .col1 .col{
    display: flex;
    flex-direction: column ;
    align-items: flex-start;
    margin-bottom: 20px ;
  } 
  footer .col1 .col .col-text{
    
    font-size: 12px;
  }
  footer .logo{
    margin-bottom:30px;
    text-align: center;
  }
  .section-p1 .col .logo {
    width: 100px; 
    
  } 
  footer h4{
    font-size: 8px;
    padding-bottom: 5;
    display: flex;
    text-align: center;
    justify-content: center;
  }
  footer p{
    font-size: 8px;
    
    margin: 0 0 8px 0;
  }
  footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
  }
  footer .follow{
    margin-top: 20px;
    text-align: center;
  }
  footer .icon i{
    padding-left: 30px;
    color: blue;
    font-size: 30px;
  }
  footer .follow h4{
    padding-bottom: 30px;
  }
  footer .col1 .logo{
    width: 100px;
    height: 100px;
  }
  footer .follow i{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
  }
  footer .install .row img{
    border: 1px solid #088178;
    border-radius: 6px;
  }
  footer .install img{
    margin: 10px 0 15px 0;
  }
  footer .follow i:hover, footer a:hover{
    color: #088178;
  }
  footer .copyright{
    width: 100%;
    text-align: center;
  }

@media (max-width: 799px) {
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
        z-index: 1000; /* Ensure the navigation bar is above the form */
    }
    #bar{
        display: block  ;
    }
    #navbar.active {
        right: 0;
    }

    #navbar li {
        margin-bottom: 25px;
    }


    

    
}
  #mobile{
    display: flex;
    align-items: center;
  }
  #mobile i{
    color: #1a1a1a;
    font-size: 24px;
    padding-left: 20px;
    cursor: pointer;
  }
  #close{
    display: flex;
    text-decoration: none;
    position: absolute;
    top: 30px;
    left: 30px;
    color: #83c9f7;
    font-size: 24px;

  }
  @media(max-width:477px){
    .section-p1{
        padding: 20px;
      }
      #header{
        padding: 10px 30px;
      }
      h1{
        font-size: 38px;
      }
      h2{
        font-size: 32px;
      }
      footer .col .follow{
        width: 80%;
      }bar
      footer .col .follow .icon{
        
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }
      
        footer .col .follow .icon i{
          padding: 10px;
        }
      footer .col{
        width: 80;
      }
      footer .install{
        text-align: start;
      }
    }

@media screen and (max-width: 1200px) {
    .contact-area {
        flex-direction: column;
        align-items: center;
    }

    .cont-left,
    .cont-right {
        width: 100%;
    }

    .cont-right {
        order: -1; /* Bu satırı ekleyerek formu haritanın üzerine taşıyın */
    }
    
}

.map{
    margin-top: 50px;
}


@media only screen  and (max-width:1350px) and (min-width:799px){
  .fa-times{
    text-decoration: none;
  }
}







